

#BuildingEnvelopeTab{
    background-color: #89C7EA;
    color: white;
}

#LightingTab{
    background-color: #8B85C8;
    color: white;
}

#HVACTab{
    background-color: #FF6433;
    color: white;
}

#WaterTab{
    background-color: #FFAD3C;
    color: white;
}

#EnergyTab{
    background-color: #F100EC;
    color: white;
}

.parameterSelection{
    border: 1px solid #DFDFDF;
}

.card-header-tabs{
    opacity:inherit;
}

.card{
    border: none;
}

.cardsRow{
    padding: 50px 50px;
}

.btn-link{
    font-weight: 500 !important;
    color: #6a6a6a !important;
}

.chartName{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    color: black;
    float: left;
    font-weight: bold;
}
