.nano { background: #bba; width: 500px; height: 85vh !important; }
.nano .nano-content { padding: 2%; }
.nano .nano-pane   { background: #888; }
.nano .nano-slider { background: #111; }

/*...................................*/


.#example , .#example1 , .#example2 , .#example3{
    margin-left: 500px;
}

.em{
    width: 100%;
    font-size: inherit;
    padding-right: 20px;
}


#tabsonTop{
    height: 470px !important;
}

#BuildingEnvelopeTab{
    background-color: #89C7EA;
    color: white;
}

#LightingTab{
    background-color: #8B85C8;
    color: white;
}

#HVACTab{
    background-color: #FF6433;
    color: white;
}

#WaterTab{
    background-color: #FFAD3C;
    color: white;
}

#EnergyTab{
    background-color: #F100EC;
    color: white;
}

.card-body{
    border: 1px solid #DFDFDF;
    width: 100%;
}

.parameterSelection{
    overflow-y: scroll;
}

.card-header-tabs{
    opacity:inherit;
    margin: 0 !important;
}

.card{
    border: none;
    padding: 0 !important;
}

.cardsRow{
    padding: 20px 50px;
}

.btn-link{
    font-weight: 500 !important;
    color: #6a6a6a !important;
    width: 100%;
}

.chartName{
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0;
    color: black;
    float: left;
    font-weight: bold;
}

.nav-item{    
    padding: 0 !important;
}

.nav-link{
    position: relative;
    /*    z-index: -1;*/
}

.card-body{
    background-color: #FFFFFF
}

.tab-active{
    z-index: 1;
}

.redbg{
    background-color: red !important;
}

.container{
    margin: 0 !important;
}

#accordion{
}

.leftSide{
    height: inherit;
    border-right: 1px solid rgba(100, 100, 100, 0.21);
}

.rightSide{
    height: 350px;
    border: 1px solid rgba(100, 100, 100, 0.21);
    padding-top: 15px;
    position: relative;
}

.list-group-item{
    font-size: 17px;
    border: none;
}

#Selected{
    background-color: rgba(0, 167, 255, 0.19);
}

.hidden-button{
    height: 10px;
    color: rgba(240, 248, 255, 0);
    z-index: 2;
    margin-top: 19.5px;
    z-index: 1;
    visibility:visible;
    border: none;
    background-color: rgba(255, 0, 0, 0);
}

.hidden-button:hover {
    background-color: rgba(0, 245, 255, 0.26);
}

.hidden-button:active {
    background-color: rgba(118, 255, 0, 0.26) !important;
}

.hidden-row{
    width: inherit ;
    margin-left: 65%;
    z-index: 1;
    visibility:visible;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
}
.form-check {
}

.label-text {
}



.radioRow {
    padding-top: 10px;
    background-color: #f8f8f8;
}


/*/////////////////////////////////////Radio*/



.radio {
  padding-left: 20px; }
  .radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .radio label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 50%;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out;
      transition: border 0.15s ease-in-out; }
    .radio label::after {
      display: inline-block;
      position: absolute;
      content: " ";
      width: 11px;
      height: 11px;
      left: 3px;
      top: 3px;
      margin-left: -20px;
      border-radius: 50%;
      background-color: #555555;
      -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
      -o-transform: scale(0, 0);
      transform: scale(0, 0);
      -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
      transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
  .radio input[type="radio"] {
    opacity: 0; }
    .radio input[type="radio"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .radio input[type="radio"]:checked + label::after {
      -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      transform: scale(1, 1); }
    .radio input[type="radio"]:disabled + label {
      opacity: 0.65; }
      .radio input[type="radio"]:disabled + label::before {
        cursor: not-allowed; }
  .radio.radio-inline {
    margin-top: 0; }

.radio-primary input[type="radio"] + label::after {
  background-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::before {
  border-color: #428bca; }
.radio-primary input[type="radio"]:checked + label::after {
  background-color: #428bca; }

.radio-danger input[type="radio"] + label::after {
  background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before {
  border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after {
  background-color: #d9534f; }

.radio-info input[type="radio"] + label::after {
  background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
  border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
  background-color: #5bc0de; }

.radio-warning input[type="radio"] + label::after {
  background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before {
  border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after {
  background-color: #f0ad4e; }

.radio-success input[type="radio"] + label::after {
  background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {
  border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {
  background-color: #5cb85c; }


html{
    font-family: 'PT Sans', sans-serif !important;}
.tab-pane {
    padding: 0;
}

#SelectedSummary{
    background-color: rgba(0, 167, 255, 0.19);
    margin-top: 150px !important;
}

#summaryOption {
    margin-top: 150px !important;
}


.custab{
    border: 1px solid #ccc;
    box-shadow: 3px 3px 2px #ccc;
    transition: 0.5s;
    }

.custab:hover{
    box-shadow: 3px 3px 0px transparent;
    transition: 0.5s;
    }

.custyle {
}

.rightSide {
    padding: 0;
}

.confirmButton {
    width: 50%;
    margin-left: 25%;
    color: white !important;
}


html{
    font-family: 'PT Sans', sans-serif !important;}